body{
    font-family: sans-serif;
    color: whitesmoke;
    padding: 0px;
    margin: 0px;
    background-color: #0b0c2a;
    cursor: pointer;
    
}
/* Width of the entire scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

/* Track - the area around the thumb */
::-webkit-scrollbar-track {
    background: #070720;
}

/* Handle - the draggable scrolling part */
::-webkit-scrollbar-thumb {
    background: #070720;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


section{
    padding: 12px;
}
section strong{
    padding: 12px 20px;
    font-weight: 800;
}
#Games{
    padding-top: 6px;
    display: flex;
    justify-content: space-evenly;
}
#Games a{
    text-decoration: none;
    color: whitesmoke;
}
.game-item{
    padding-top: 2%;
    margin-bottom: 12px;
    text-align: center;
    font-weight: 900;
}
.game-item img{
    width: 200px;
    height: 200px;
}